@use "variables" as *;

.header-container {
  display: flex;
  justify-content: center;
  padding: $padding-lg 0 $padding-lg 0;

  .img-container {
    width: 200px;

    img {
      width: 100%;
    }
  }
}
